<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- hidden form for netlify to detect -->
    <form name="contact" action="/" method="POST" netlify hidden>
      <input type="text" name="email" />
      <input type="text" name="name" />
      <input type="text" name="repository" />
      <input type="radio" name="run" value="yes"/>
      <input type="radio" name="run" value="no" checked/>
      <textarea name="comments"></textarea>
    </form>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-xxxxxxxxxx"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'x-xxxxxxxxxx');
    </script>-->
  </body>
</html>
